<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:image" content="{{imageUri}}" />
    <meta property="og:description" content="{{description}}" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
